@import "tailwindcss";
html,
body,
#root {
	width: 100dvw;
	height: 100dvh;
}
.btn {
	all: unset;
	width: 1.25rem;
	height: 1.25rem;
	gap: 0.25rem;
	/* background-color: white; */
	display: grid;
	place-items: center;
	padding: .4rem;
	font-family: monospace;
	-webkit-app-region: no-drag;
}
.btn:hover {
	background: #666666;
}
.btn:last-of-type:hover{
	background: #e93232;
}
header {
	-webkit-app-region: drag;
}
